body{
    background-color: rgb(124, 0, 0);
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
}
 .filme {
    text-align: center;
 }

 .cartaz-todos
 {display: grid;
    grid-template-columns: 25% 25% 25% 25%;

 }

 .filme1{
    width: 70%;
    height: 170px;
 }

 .link
 {
    color: black;
    font-size: 20px;
 }
